* {
  font-family: "Fira Mono", monospace;
  font-size: 64px;
  color: white;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
}

p {
  font-size: 14px;
  margin-bottom: 24px;
}

.calc {
  display: flex;
  flex-direction: column;
  padding: 32px;
  background-color: black;
  border-radius: 16px;
}

button {
  margin: 8px;
  border-color: #666 #555 #555 #666;
  background-color: #0a0a0a;
}

.header {
  display: flex;
  justify-content: space-between;
}

.screen {
  font-size: 48px;
  border-radius: 2px;
  margin-bottom: 32px;
  box-shadow:
    0 2px 4px inset #000,
    0 -2px 4px inset #fff;
  background-color: #8d988e;
  color: black;
  text-align: right;
}

.buttons {
  display: flex;
  flex-direction: row;
  align-items: end;
}

.sidebuttons {
  display: flex;
  flex-direction: column;
}

.numbers {
  display: flex;
  flex-direction: column;
}

.numrow {
  display: flex;
  flex-direction: row;
}
